/* General Body Style */
body {
    background-color: firebrick; /* Sets the background color for the entire page */
}

/* Heading Style */
h2 {
    text-align: center; /* Centers the heading text */
    font-family: 'Times New Roman', Times, serif; /* Sets the font family for headings */
    font-size: 40px; /* Sets the font size for headings */
    color: gold; /* Sets the text color for headings */
}

/* Container Style */
.container-fluid {
    background-color: black; /* Sets the background color for fluid containers */
}

/* Paragraph Style */
p {
    text-align: center; /* Centers the text in paragraphs */
    color: white; /* Sets the text color for paragraphs */
}

/* Navigation Link Styles */
.nav-link {
    color: white; /* Sets the text color for navigation links */
}

.nav-link:hover {
    color: lightgray; /* Changes the text color on hover */
}

.nav-link.active {
    color: gold; /* Changes the text color for the active link */
}