{{!-- views/about.hbs --}}
<aside class="col-md-3">
    <h2>Coming Soon</h2>
    <p>stay tuned for more updates. Cause this website will eventually be ready soon.</p>
</aside>
<section class="main col-md-9">
    <article>
        <h2>About</h2>
        <p>I am a student at Seneca College Newnham campus studying computer programming and analysis.</p>
        <p>My interests are in web development programming. I have some experience with HTML, CSS, JavaScript, and Python. I have also used frameworks for a bit such as Bootstrap, Tailwind CSS, and DaisyUI.</p>
        <p>My first goal is to become a computer programmer.</p>
        <p>My second goal is to be able to pass all of the computer science classes at Seneca College.</p>
        <p>My last and final goal is to be able to work in a company that is passionate about programming.</p>
    </article>
</section>