<div class="container mt-5">
  <form method="post" action="/items/add" enctype="multipart/form-data">
    <fieldset>
      <legend>Feature Image</legend>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <input
              class="form-control"
              id="featureImage"
              name="featureImage"
              type="file"
              aria-label="Upload feature image"
            />
          </div>
        </div>
      </div>
    </fieldset>
    <br />
    <fieldset>
      <legend>Post Content</legend>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="title">Item Name:</label>
            <input
              class="form-control"
              id="title"
              name="title"
              type="text"
              required
              aria-label="Enter item name"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="price">Price:</label>
            <input
              class="form-control"
              id="price"
              name="price"
              type="text"
              required
              aria-label="Enter price"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="body">Description:</label>
            <textarea
              class="form-control"
              id="body"
              name="body"
              rows="10"
              required
              aria-label="Enter item description"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="category">Category:</label>
            {{#if categories}}
              <select
                class="form-control"
                name="category"
                id="category"
                required
                aria-label="Select a category"
              >
                <option value="">Select Category</option>
                {{#each categories}}
                  <option value="{{id}}">{{category}}</option>
                {{/each}}
              </select>
            {{else}}
              <div>No Categories</div>
            {{/if}}
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="published">Visibility:</label>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="published"
                id="published"
                aria-label="Check to publish"
              />
              <label class="form-check-label" for="published">
                Published
              </label>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
    <hr />
    <div class="text-end">
      <input
        type="submit"
        class="btn btn-primary"
        value="Add Post"
      />
    </div>
  </form>
</div>